@tailwind base;
@tailwind components;
@tailwind utilities;

.italic-placeholder::-webkit-input-placeholder {
  font-style: italic;
}

.italic-placeholder:-moz-placeholder {
  font-style: italic;
}

.italic-placeholder::-moz-placeholder {
  font-style: italic;
}

.italic-placeholder:-ms-input-placeholder {
  font-style: italic;
}
